body{
    margin: 0;
}
.bg-img{
    background-image: url('restaurent.jpg');
    opacity: 75%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
header nav {
    display: flex;
    color: white;
}
header nav h1{
    font-size: 30px;
    margin-left: 15px;
}
header nav ul{
    display: flex;
   margin-left: auto;
   list-style: none;
}
header nav ul li {
    margin-left: 20px;
    margin-top: 17px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
header nav ul button{
    background-color: goldenrod;
    padding: 15px 20px;
    border: none;
    margin-left: 20px;
}
.content{
    text-align: center;
    padding-top: 80px;
}
.content h1{
    color: goldenrod;
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
}
.content h2{
    font-weight: bold;
    font-size: 35px;
    color: white;
}
.d-flex{
    display: flex;
    color: white;
    justify-content: center;
    padding-top: 60px;
   
}
.d-flex .biryani{
    margin-left: 30px;
}
.d-flex .FRIES{
    margin-left: 30px;
}
.d-flex .beef{
    margin-left: 30px;
}
.d-flex .rice{
    margin-left: 30px;
}
.d-flex  img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}